{% extends 'base.html.twig' %}

{% block title 'Blog écrivain'%}

{% block body  %}

	{{ include('pages/_header.html.twig') }}
	{{ include('pages/_banner.html.twig') }}
	<div class='row justify-content-center'>
		<div class="col-md-6">
			<section class='posts' style='background:#FFF;'>

				<h2 class='text-center py-5'>Billet simple pour l'Alaska</h2>

				<div class="jumbotron">
					<article>

						{% if app.user.roles is defined and app.user.roles == ['ROLE_ADMIN'] %}
							<p class="display-4 initialism pb-5 text-info">
								<a href="{{path('admin.post.create')}}">Créer un nouvel article</a>
							</p>
						{% endif %}

						{% for post in posts %}
							<h5 class='mb-0 pb-0'>
								<a class='text-decoration-none'>
									{{ post.title }}</a>, le
								{{post.createdAt }}

							</h5>
							<hr class='bg-dark mt-1'>


							<p>{{ post.content | striptags | slice(0, 300) }}
								[...]<span>
									<a href="{{path('post.show', {id: post.id, slug:post.slug})}}" class='text-decoration-none'>Lire la suite</a>
								</span>
							</p>

							{% if app.user.roles is defined and app.user.roles == ['ROLE_ADMIN'] %}

								<button class='btn btn-primary mb-3'>
									<a class='text-white' href="{{path('admin.post.edit', {id:post.id})}}">Editer</a>
								</button>

								<form method="post" action="{{path('admin.post.delete', {id:post.id})}}" style="display:inline-block" onsubmit="return confirm('Etes vous vraiment sûr ?')">
									<input type="hidden" name="_method" value="DELETE">
									<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
									<button class="btn btn-danger mb-3">Supprimer</button>
								</form>

							{% endif %}
						{% endfor %}

					</article>
				</div>


				{{ include('pages/_footer.html.twig') }}
			</section>
		</div>
	</div>
{% endblock %}
